/* global */
html,
body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}
.heading {
  text-align: center;
  margin-bottom: 3rem;
}
.heading h2 {
  font-size: 40px;
  color: #ff4f81;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.heading p {
  font-size: 17px;
  color: black;
  text-transform: capitalize;
  letter-spacing: 4px;
}
.heading p::after {
  content: "";
  width: 70px;
  height: 2px;
  background-color: black;
  display: block;
  margin: 20px auto;
}
.section {
  padding: 5rem 0;
}
/* header  */
.header__top {
  background-color: #ff4f81;
  font-size: 0.875rem;
}
.header__top a {
  text-decoration: none;
  color: white;
  transition: all 0.5s;
}
.header__top .header__left a:hover {
  color: black !important;
}

.header__right a {
  width: 30px;
  height: 30px;
  background-color: black;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  margin-left: 0.3rem;
}
.header__right a:hover {
  background-color: #ff4f81;
  border-color: white;
}
.navCompany a {
  color: black;
}
.navCompany .navbar-brand p:first-child {
  font-size: 2.25rem;
}
.navCompany .navbar-brand p:first-child i {
  transform: skewX(-10deg);
}
.navCompany .navbar-brand p:last-child {
  font-size: 0.7rem;
  color: #ff4f81;
  letter-spacing: 3px;
  font-weight: bold;
}
#navbarCompany .nav-item {
  margin: 0 15px;
}
#navbarCompany .nav-item::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #ff4f81;
  display: block;
  transition: all 0.5s;
}
#navbarCompany .nav-item:hover::after {
  width: 100%;
}
#navbarCompany .nav-link {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.5s;
}
#navbarCompany .nav-item:hover .nav-link {
  color: #ff4f81;
}
#navbarCompany .nav-item.active .nav-link {
  color: #ff4f81;
}
#navbarCompany .nav-item.active::after {
  width: 100%;
}
#navbarCompany .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
}
#navbarCompany .dropdown-item {
  color: white;
  transition: all 0.5s;
}
#navbarCompany .dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent;
  color: #ff4f81;
}

/* carousel */
#carouselCompany .carousel-caption {
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#carouselCompany .carousel-caption h1 {
  font-size: 52px;
}
#carouselCompany .carousel-caption p {
  letter-spacing: 4px;
  line-height: 1.8rem;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 25px;
  font-weight: 300;
}
#carouselCompany .carousel-caption button {
  padding: 11px 20px;
  color: white;
  border: 1px solid white;
  border-radius: 0;
  letter-spacing: 2px;
  font-size: 14px;
  transition: all 0.5s;
}
#carouselCompany .carousel-caption button:hover {
  background-color: #ff4f81;
  border-color: #ff4f81;
}

/* welcome */
.welcome__content > p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  line-height: 1.8em;
  color: #999;
  letter-spacing: 1px;
  padding: 1rem 0 5rem;
}
.welcome__item i {
  font-size: 2rem;
}
.welcome__item h3 {
  color: #ff4f81;
  font-weight: bold;
  font-size: 1.8rem;
  margin: 1rem 0;
}
.welcome__item h4 {
  font-size: 1rem;
  color: black;
  font-weight: bold;
  margin: 1rem 0 0.2rem;
}
.welcome__item p {
  color: #999;
  font-size: 15px;
  line-height: 1.8rem;
  margin: 10px 0 0;
  letter-spacing: 1px;
}
.welcome__col {
  padding: 2rem;
}
